name: 'Javascript Tests'

on:
  # push:
  pull_request:
    paths:
      # This covers _anything_ under the specific package directory, as well as
      # this workflow file, and relevant JS files at the root.
      - 'packages/gbnfjs/**'
      - '.github/workflows/tests-js.yaml'
      # Notes:
      #
      # `paths` works _per commit_. That means that if you push a commit
      # that only changes the README, a paths '**.ts' won't run, and then
      # the PR will not be mergable.
      #
      # Also, relative paths (./packages) don't work. Take off the dot. 

env:
  FORCE_COLOR: "1"

jobs:
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
        with:
          lfs: 'true'

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        working-directory: ./packages/gbnfjs
        run: pnpm install

      - name: 'Lint'
        working-directory: ./packages/gbnfjs
        run: 'pnpm lint'

  unit-test:
    name: 'Unit Tests'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
        with:
          lfs: 'true'

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        working-directory: ./packages/gbnfjs
        run: pnpm install

      - name: 'Test'
        working-directory: ./packages/gbnfjs
        run: 'pnpm test -- --coverage'

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: thekevinscott/gbnf

  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
        with:
          lfs: 'true'

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        working-directory: ./packages/gbnfjs
        run: pnpm install

      - name: 'Build'
        working-directory: ./packages/gbnfjs
        run: 'pnpm build'

      - name: 'Check build output'
        working-directory: ./packages/gbnfjs
        run: 'pnpm build:check'
